*{
    margin: 0;
    padding: 0;
    list-style: none;
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
a{
    text-decoration: none;
}
ul{
    font-size: 0;
}
img{
    display: block;
}
/*顶部导航*/
.topnavbox{
    width:100%;
    height:40px;
    background:#333;
}
.topnavbox .topnav{
    width:1226px;
    height:40px;
    margin:0 auto;
}
.topnavbox .topnav .nav1{
    height:40px;
    float: left;
    line-height: 40px;
}
.topnavbox .topnav .nav1 a{
    font-size: 12px;
    color: #b0b0b0;
}
.topnavbox .topnav .nav1 a:hover{
    color: #fff;
}
.topnavbox .topnav .nav1 span{
    margin: 0 4px;
    color: #424242;
}
.topnavbox .topnav .nav2{
    height:40px;
    float: right;
    line-height: 40px;
    margin-right: 26px;
}
.topnavbox .topnav .nav2 a{
    font-size: 12px;
    color: #b0b0b0;
}
.topnavbox .topnav .nav2 a:hover{
    color: #fff;
}
.topnavbox .topnav .nav2 span{
    margin: 0 4px;
    color: #424242;
}
.topnavbox .topnav .shop{
    width: 120px;
    height:40px;
    float: right;
    line-height: 40px;
    position: relative;
    
}
.topnavbox .topnav .shop .shop-xiala{
    position: absolute;
    top: 40px;
    right: 0;
    width: 316px;
    height: 0;
    background: red;
    z-index: 99;
    color: #424242;
    font-size: 12px;
    text-align: center;
    line-height: 90px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
    background: #fff;
    overflow: hidden;
    transition:all 0.3s ease 0s;

}
.topnavbox .topnav .shop a{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    width: 120px;
    height:40px;
    line-height: 40px;
    background: #424242;
    color: #b0b0b0;
    text-align: center;
    font-size: 12px;

}
.topnavbox .topnav .shop a .icon-gouwuchekong{
    margin-right: 4px;
    font-size: 18px;
    line-height: 20px;
    vertical-align: -2px;
}
/*主导航*/
.mainnavbox{
    width: 100%;
    height: 100px;
    
}
.mainnavbox .mainnav{
    width: 1226px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}
.mainnavbox .mainnav .logo{
    float: left;
    margin-top: 22px;
}
.mainnavbox .mainnav .logo a{
    display: block;
    width: 182px;
    height: 57px;
    background: url(../img/logo.png);
    background-size: 179px 102px;
    background-position: center;
}
.mainnavbanner{
    width: 165px;
    height: 100px;
    position: absolute;
    left: 60px;
    top: 0;
    background: url(../img/nnnn.gif) no-repeat center;
}

.mainnavbox .mainnav .center{
    width:auto;
    height:100px;
    margin-left:124px;
    float: left;
}
.mainnavbox .mainnav .center ul li{
    line-height: 100px;
    float: left;
    font-size:16px;
    padding: 0 10px;
}
.mainnavbox .mainnav .center ul li a{
    color: #333;
    font-size:16px;
}
.mainnavbox .mainnav .center ul li a:hover{
    color: #ff6700;
}
.mainnavbox .mainnav .center ul li .nav-xiala{
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 0;
    background: #fff;   
    z-index: 100;
    overflow: hidden;
}
.mainnavbox .mainnav .center ul li .nav-xiala.active{
    height:229px;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.18);
    z-index: 999;
}
.mainnavbox .mainnav .center ul li .nav-xiala.transition{
    transition:height .3s ease 0s;
}
.nav-xiala .nav-xiala-con{
    width: 1226px;
    margin: 0 auto;
}
.mainnavbox .mainnav .center ul li .nav-xiala .nav-xiala-con ul{
    font-size: 12px;
    overflow: hidden;
}
.mainnavbox .mainnav .center ul li .nav-xiala .nav-xiala-con ul li{
    position: relative;
    float: left;
    width: 180px;
    padding: 35px 12px 0;
    text-align: center;
}
.nav-xiala .nav-xiala-con ul li .nav-xiala-img{
    width: 160px;
    height: 110px;
    margin: 0 auto 16px;
    text-align: center;
}
.nav-xiala .nav-xiala-con ul li .nav-xiala-img a{
    display: block;
}
.nav-xiala .nav-xiala-con ul li .nav-xiala-img a img{
    width: 160px;
    height: 110px;
}
.nav-xiala .nav-xiala-con ul li .nav-xiala-tit a{
    color: #333;
    line-height: 20px;
    font-size: 12px;
}
.nav-xiala .nav-xiala-con ul li .price{
    line-height: 20px;
    color: #ff6700;
    font-size: 12px;
}

.nav-xiala .nav-xiala-con ul li::before{
    position: absolute;
    left: 0;
    top: 35px;
    z-index: 1;
    width: 1px;
    height: 100px;
    content: "";
    background-color: #e0e0e0;
}
.nav-xiala .nav-xiala-con ul li.first::before{
    display: none;
}
.mainnavbox .mainnav .right{
    width:296px;
    height:48px;
    margin-top: 21px;
    float: right;
}
.mainnavbox .mainnav .right .right1{
    width:244px;
    height:48px;
    border:1px solid #e0e0e0;
    border-right:0px;
    float: left;
    position: relative;
}

.mainnavbox .mainnav .right .right1 input{
    width:100%;
    height:48px;
    border:0px;
    float: left;
    outline: 0;
    text-indent: 5px;
    font-size: 12px;
    font-weight: 200;
}
.right1-wenzi{
    float: left;
    font-size:12px;
    position: absolute;
    top: 14px;
    right: 173px;

}
.right1-wenzi1{
    display:block;
    width:70px;
    height:21px;
    float: left;
    
    text-align:center;  
    line-height:21px;
    color:#757575;
    font-size:14px;
    transition: all 0.2s;

}
.right1-wenzi1:hover{
    background:#ff6700;
    color:#fff;
}

.mainnavbox .mainnav .right .right2{
    display: block;
    width:48px;
    height:48px;
    border:1px solid #e0e0e0;
    float: left;
    background:url(../img/sousuo.png) no-repeat 8px 12px;
    transition: all 0.2s;
}
.mainnavbox .mainnav .right .right2:hover{
    border:1px solid #ff6700;
    background:#ff6700 url(../img/sousuo2.png) no-repeat 8px 12px;
}
/*banner*/
.bannerbox{
    width:100%;
    height:460px;
}
.banner{
    width:1226px;
    height:460px;
    margin:0 auto;
    position:relative;
}
.bannerleft{
    width:234px;
    height:440px;
    background:rgba(0,0,0,0.6);
    padding-top:20px;
    position:absolute;
    left:0px;
    top:0px;
    z-index: 30;
}
.bannerleft1{
    display: block;
    width:204px;
    height:42px;
    line-height:42px;
    font-size:14px;
    color:#fff;
    padding-left: 30px;
}
.bannerleft1 a{
    color:#fff;
}
.bannerleft1:hover{
    cursor: pointer;
    background:#ff6700; 
}
.bannerleft1 span{
    float: right;
    margin-right: 10px;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
    color: rgba(255,255,255,0.5);
    font-weight: bold;
}
.childer{
    display: none;
    position: absolute;
    left: 234px;
    color: #000;
    top: 0;
    z-index: 24;
    height: 458px;
    width: 795px;
    border: 1px solid #e0e0e0;
    border-left: 0;
    background: #fff;
    box-shadow: 0 8px 16px rgba(0,0,0,0.18);
}
.childer.childer-big{
    width: 795px;
}
.childer.childer-small{
    width: 530px;
}
.childer .childer-list{
    height: 458px;
    float: left;
    width: 265px;
    margin: 0;
    padding: 2px 0;
}
.childer.childer-big .childer-list{
    width: 248px;
}
.childer .childer-list li{
    width: 265px;
    height: 76px;
}
.childer .childer-list li a{
    display: block;
    padding: 18px 20px;
    line-height: 40px;
    color: #333;
    transition: color .2s;
}
.childer .childer-list li a:hover{
    color: #ff6700;
}
.childer .childer-list li a img{
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 12px;
    vertical-align: middle;
}
.childer .childer-list li a .text{
    float: left;
    
    line-height: 40px;
    font-size: 14px;
}
.bannerright{
    width:102px;
    height:10px;
    position:absolute;
    right:30px;
    bottom:25px;
}
.bannerright ul li{
    float: left;
}
.bannerright ul li a{
    cursor: pointer;
    width:6px;
    height:6px;
    border:2px solid rgba(255,255,255,0.3);
    background:rgba(0,0,0,0.4);
    margin-right:10px;
    border-radius:50%;
    float: left;
}
.bannerright ul li a:hover{
    border:2px solid rgba(0,0,0,0.4);
    background:rgba(255,255,255,0.3);
}
.bannerright .active{
    border:2px solid rgba(0,0,0,0.4);
    background:rgba(255,255,255,0.3);
}
.banner .bannerimgboxs{
    width: 100%;
    height: 100%;
}
.banner .bannerimg{
    position: absolute;
    top:0;
    left: 235px;
    opacity: 0;
    transition: all 1s ease 0s;
}
.banner .bannerimg.active{
    opacity: 1;
}
.banner .bannerimg a{
    display: block;
    width:1226px;
    height:460px;
}
.banner .bannerimg a img{
    width:991px;
    height:460px;
}
.anniuleft{
    display: block;
    position: absolute;
    left:234px;
    top: 50%;
    width: 41px;
    height: 69px;
    margin-top: -35px;
    cursor: pointer;
    background:url(../img/anniu.png) -84px 0;
}
.anniuleft:hover{
    background:url(../img/anniu.png) 0px 0;
}
.anniuright{
    display: block;
    position: absolute;
    right:0px;
    top: 50%;
    width: 41px;
    height: 69px;
    margin-top: -35px;
    cursor: pointer;
    background:url(../img/anniu.png) -125px 0;
}
.anniuright:hover{
    background:url(../img/anniu.png) -42px 0;
}

/*新闻轮播*/

#newbanner{
    width: 234px;
    /* margin-left: 146px; */
    margin-top: 20px;
    border: 1px solid #e4e4e4;
    float: left;
}
.clear{
    clear: both;
}
#scroll-wrapper {
    width: 234px;
    height: 300px;
    margin: -2px auto;
    /* margin-left: 145px; */
    border-top: 1px solid #e4e4e4;
    overflow: hidden;
    position: relative;
  }
#scroll-wrapper li span a{
    height: 18px;
    line-height: 18px;
    margin-top: 6px;
    color: #fff;
    background-color: #FF6700;
    padding: 0 4px;
    float: left;
}
#scroll-wrapper li h5{
    font-size: 12px;
    font-weight: normal;
    color: #666;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap:  normal !important;
    float: left;
    width: 190px;
    margin-left: 5px;
}
#newbanner .kn_title{
    height: -5px;
    /* bottom: 1px solid #e4e4e4; */
}
#newbanner .kn_title h3{
    line-height: 40px;
    font-size: 14px;
    padding-left: 20px;
    font-weight: normal;
    float: left;
}
#newbanner .newmore a{
    font-size: 12px;
    padding-right: 20px;
    float: right;
    color: #949494;
    margin-top: 13px;
    
}
  .list {
    margin: 0;
    padding: 0;
    padding-bottom: 300px;
    list-style: none;
    line-height: 40px;
  }
  .list li {
    padding-left: 20px;
    padding-right: 20px;
  }
#scroll-wrapper .list h5 a:hover{
    color: #FF6700;
}
/* 新闻右侧 */
.contentArea {
    margin: 20px 0;
    display: inline-flex;
    float: left;
    /* padding-left: 4px; */
}
.allnews{
    width: 100%;
    height: 343px;
}
.allnews .news{
    width: 1226px;
    height: 343px;
    margin: 0 auto;
    position: relative;
}
.contentArea>div {
    height: 341px;
    width: 324px;
    display: inline-block;
    border: 1px solid lightgray;
}
.contentArea>div:nth-child(2) {
    margin: 0 5px;
}
.contentNews li {
    list-style: none;
    margin: 10px 10px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
}
article {
    overflow: hidden;
}
.articleDate {
    width: 30px;
    background-color: #FF6700;
    color: white;
    padding: 10px 5px;
    float: left;
    border-radius: 5px;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
}
.articelTitle {
    font-weight: bolder;
    font-size: 14px;
    text-decoration: none;
    margin-left: 1em;
    line-height: 25px;
    float: left;
}
.articelTitle:hover {
    color: red;
}
.articleContent {
    font-size: 12px;
    line-height: 16px;
    float: left;
    width: 230px;
    margin-left: 1em;
}
.contentTitle {
    background-color: red;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-indent: 1em;
    padding: 10px 20px;
}
.contentArea .contentActivity li{
    margin: -1px 13px 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid lightgray;
    list-style: disc;
}
.contentActivity_section {
    padding: 14px;
}
.contentActivity img {
    width: 300px;
    height: 150px;
}
.contentActivity_section a {
    text-decoration: none;
    color: #424242;
    line-height: 20px;
}
.contentActivity_section a:hover{
    color: #FF6700;
}
.contentContact_section {
    padding: 15px;
}
.contentContact_section p {
    line-height: 20px;
}
.contentContact .contentContact_section img{
   width: 20px;
   height: 20px;
    float: left;
}
.contentContact .contentContact_section .teacher img{
    width: 30px;
    height: 30px;
     float: left;
 }
 .contentContact .contentContact_section .teacher p{
     font-size: 20px;
 }
.contentContact .contentContact_section .mate p{
    line-height: 20px;
    float: left;
}
/* yiqian */
/* .content-sub{
    margin-top: 14px;
    overflow: hidden;
}
.content-sub .scroll-wrapper{
    float: left;
    width: 229px;
    height: 164px;
    padding: 3px;
    margin-left: 146px;
    background-color: #5f5750;
    text-align: center;
}

.content-sub .scroll-wrapper ul{
    background-color: #5f5750;
    font-size: 12px;
}
.content-sub .scroll-wrapper ul li{
    float: left;
    width: 33.33%;
    height: 85px;

}
.content-sub .scroll-wrapper ul li a{
    display: block;
    color: rgba(255,255,255,.7);
    padding-top: 18px;
    
    font-size: 12px;
}
.content-sub .scroll-wrapper ul li a:hover{
    color: #fff;
}

.content-sub .content-list{
    float: left;
    width: 992px;
}
.content-sub .scroll-wrapper  img{
   
    width: 24px;
    height: 24px;
    margin: 0 auto 4px;
}

.content-sub .content-list ul{
    width: 100%;
}
.content-sub .content-list ul li{
    float: right;
    widows: 33.33%;
    margin-left: 14px;
}
.content-sub .content-list ul li a{
    display: block;
    height: 170px;
}
.content-sub .content-list ul li a img{
    width: 316px;
    height: 170px;
} */
/*小米明星单品*/
.cononebox{
    width: 100%;
    height: 438px;
    
}
.conone{
    width: 1226px;
    height: 438px;
    margin: 0 auto;
}
.conone .conone-top{
    width: 1226px;
    height: 58px;
}
.conone .conone-top h2{
    float: left;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.conone .conone-top .btns{
    float: right;
    width: 71px;
    height: 25px;   
    margin-top: 20px;
}
.conone .conone-top .btns a{
    cursor: pointer;
    font-weight: 800;
    color: #b0b0b0;
}
.conone .conone-top .btns .btn-left{
    display: block;
    float: left;
    width: 24px;
    height: 16px;
    padding: 3px 5px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    line-height: 16px;  
    text-align: center;
}
.conone .conone-top .btns .btn-right{
    display: block;
    float: left;
    width: 24px;
    height: 16px;
    padding: 3px 5px;
    border: 1px solid #e0e0e0;
    border-left: none;
    font-size: 14px;
    line-height: 16px;  
    text-align: center;
}
.conone .conone-top .btns a.active{
    font-weight: 800;
    color: #e0e0e0;
}
.conone .conone-top .btns a:hover{
    color: #ff6700;
}
.conone .conone-top .btns a.active:hover{
    color: #e0e0e0;
}
.conone .conone-con-box{
    width: 1226px;
    height: 340px;
    padding-bottom: 40px;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
}
.conone .conone-con{
    position: absolute;
    top: 0;
    left: 0;
    width: 2452px;
    height: 340px;
    overflow: hidden;
    transition: all 0.4s ease 0s;
}
.conone-con1{
    width:234px;
    height:300px;
    background:#fff;
    margin-right:14px;
    padding-top:39px;
    float: left;
}
.danpin1{
    border-top:1px solid #ffac13;
}
.danpin2{
    border-top:1px solid #83c44e;
}
.danpin3{
    border-top:1px solid #2196f3;
}
.danpin4{
    border-top:1px solid #e53935;
}
.danpin5{
    border-top:1px solid #00c0a5;
    margin-right:0;
}
.conone-imgbox{
    display: block;
    width: 160px;
    height: 160px;
    margin: 0px auto 22px;
}
.conone-img{
    width: 160px;
    height: 160px;  
}
.con-wenzi1{
    font-size: 14px;
    text-align: center;
    color: #333;
}
.con-wenzi1 a{
    color: #333;
}
.con-wenzi2{
    font-size: 12px;
    text-align: center;
    color: #B0B0B0;
    margin-top:5px;
}
.con-wenzi3{
    font-size: 14px;
    text-align: center;
    color: #424242;
    margin-top:10px;
}
.con-wenzi3 a{
    color: #424242;
}
.con-wenzi3 a:hover{
    color: #ff6700;
}
.tiantianimg img{
    width: 1226px;
    height: 120px;
    margin:0 auto;
    margin-top: -22px;

}
/*主页面*/
.conbox{
    width: 100%;
    height: 2110px;
    padding-top:50px;
    background:#f5f5f5; 
    margin-top: 40px;
}
.con{
    width:1226px;
    height:686px;
    margin:0 auto 8px;
    margin-top: 14px;
}
.con-top{
    width:1226px;
    height:58px;
}
.con-top-left{
    width:200px;
    height:58px;
    float: left;
    font-size: 22px;
    line-height: 58px;
    color: #333;
    font-weight: 200;
}
.con-top-right{
    height:43px;
    float: right;
    font-size: 16px;
    padding-top:15px;
    line-height:28px;
}
.jiadian-topright{
    display: block;
    width: 96px;
    height: 58px;
    float: right;
    color: #424242;
    font-size: 16px;
    line-height: 62px;
    background: url(../img/chakan1.jpg);
}
.jiadian-topright:hover{
    color: #ff6700;
    background: url(../img/chakan2.jpg);
}

.con-con{
    width:1226px;
    height:614px;
}
.con-con-left{
    width:234px;
    height:614px;
    float:left;
    transition: all .2s linear;
}
.con-fudong:hover{
    box-shadow:0px 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0,-2px,0);
}
.con-con-left a{
    display: block;
    width:234px;
    height:614px;
}
.con-con-left a img{
    width:234px;
    height:614px;
}
.con-con-right{
    width:978px;
    height:614px;
    margin-left:14px;
    float:left;
    position: relative;
}
.con-con-right .con-con-right-con{
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.con-con-right .con-con-right-con.active{
    display: block;
}
.con-con-righttop{
    width:978px;
    height:300px;
}
.con-con-rightbottom{
    width:978px;
    height:300px;
    margin-top:14px;
}
.con-con-right1{
    width:234px;
    height:266px;
    background:#fff;
    padding-top:34px;
    float:left;
    position:relative;
    transition: all .2s linear;
}
.con-con-right1:hover{
    box-shadow:0px 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0,-2px,0);
}
.con-con-right2{
    width:234px;
    height:266px;
    background:#fff;
    padding-top:34px;
    float:left;
    margin-left:14px;
    position:relative;
    transition: all .2s linear;
}
.con-con-right2:hover{
    box-shadow:0px 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0,-2px,0);
}


.con-con-right3:hover{
    box-shadow:0px 0px 0px;
    transform: translate3d(0,0,0);
}
.con-con-right3{
    padding-top:0px;
    background:none;
}


.con-img{
    display: block;
    width:150px;
    height:150px;
    margin: 0px auto 18px;
}   
.con-img img{
    width:180px;
    height:150px;
    margin-left: -16px;
}
.con-one-conright1a{
    width:204px;
    height:115px;
    margin-bottom:14px;
    padding:28px 0 0 30px;
    background:#fff;
}
.con-one-conright1a-wenzi{
    float:left;
}
.con-one-conright1a-wenzi1{
    font-size: 14px;
    line-height:40px;
    color: #333;
}
.con-one-conright1a-wenzi2{
    font-size: 14px;
    color: #FF6700;
}
.con-one-conright1a-img{
    display: block;
    width: 80px;
    height: 80px;
   margin-left: 68px;
    margin-top: -30px;
    float:left;
}
.con-one-conright1a-img img{
    width: 80px;
    height: 80px;
}
.con-one-conright1b{
    width:204px;
    height:110px;
    margin-bottom:14px;
    padding:33px 0 0 30px;
    background:#fff;
}
.con-one-conright1b-wenzi{
    float:left;
}
.con-one-conright1b-wenzi1{
    display: block;
    font-size: 18px;
    line-height:45px;
    color: #333;
}
.con-one-conright1b-wenzi2{
    display: block;
    font-size: 12px;
    color: #757575;
}
.con-one-conright1b-img{
    display: block;
    width: 80px;
    height: 80px;
    margin-left: 30px;
    float: left;
}
.con-one-conright1b-img img{
    width: 80px;
    height: 80px;
}
/*家电*/
.con-jiadian{
    width:1226px;
    height:686px;
    margin:0 auto 8px;
    margin-top: 48px;
}
.dianshiimg img{
    width: 1226px;
    height: 120px;
    margin:0 auto;
   padding-top: 36px;

}
.remen-li.active a{
    display: block;
    color: #ff6700; 
    border-bottom:2px solid #ff6700;
}
.remen-li{
    height:58px;
    float: left;
    margin-left:30px;
}
.remen-li a{
    display: block;
    color: #424242;
}
.con-con-lefttop{
    width: 234px;
    height: 300px;
    margin-bottom: 14px;
    transition: all .2s linear;
}
.con-con-lefttop:hover{
    box-shadow:0px 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0,-2px,0);
}
.con-con-leftbottom{
    width: 234px;
    height: 300px;
    transition: all .2s linear;
}
.con-con-leftbottom:hover{
    box-shadow:0px 15px 30px rgba(0,0,0,0.1);
    transform: translate3d(0,-2px,0);
}
.con-con-left .con-con-lefttop a{
    display: block;
    width:234px;
    height:300px;
}
.con-con-left .con-con-lefttop a img{
    width:234px;
    height:300px;
}
.con-con-left .con-con-leftbottom a{
    display: block;
    width:234px;
    height:300px;
}
.con-con-left .con-con-leftbottom a img{
    width:234px;
    height:300px;
}
/*服务列表*/
/* .servicebox{
    width:100%;
    height:272px;
    padding-top: 25px;
}
.servicebox{
    width:1226px;
    height:272px;
    margin: 0px auto;
}
.servicetopbox{
    width:1226px;
    height:auto;
    padding:27px 0;
    border-bottom:1px solid #e0e0e0;
}
.servicetop{
    width:1226px;
    height:25px;
}
.servicetop ul li{
    width:245.2px;
    height:25px;
    float:left;
}
.li2,.li3,.li4,.li5{
    border-left:1px solid #e0e0e0;
}
.lia{
    display: block;
    width:242.73px;
    height:25px;
    line-height:25px;
    text-align: center;
    color:#545466;  
    font-size: 16px;
}
.lia:hover{
    color:#ff6700;
}
.li1{
    background:url(../img/fuwu1.png) 25px -8px;
}
.li1:hover{
    background:url(../img/fuwu2.png) 25px -8px;
}
.li2{
    background:url(../img/fuwu1.png) -220px -8px;
}
.li2:hover{
    background:url(../img/fuwu2.png) -220px -8px;
}
.li3{
    background:url(../img/fuwu1.png) -460px -8px;
}
.li3:hover{
    background:url(../img/fuwu2.png) -460px -8px;
}
.li4{
    background:url(../img/fuwu1.png) -705px -8px;
}
.li4:hover{
    background:url(../img/fuwu2.png) -705px -8px;
}
.li5{
    background:url(../img/fuwu1.png) no-repeat -950px -8px;
}
.li5:hover{
    background:url(../img/fuwu2.png) no-repeat -950px -8px;
}


.servicebottombox{
    width:1226px;
    height:112px;
    padding:40px 0 40px;
}
.servicebottom{
    width:1226px;
    height:112px;
}
.servicebottom-left{
    width:auto;
    height:112px;
    float: left;
}
.sercivebottom-left-list{
    width:160px;
    height:112px;
    float: left;
}
.sercivebottom-left-list li a{
    display: block;
    width:160px;
    font-size: 12px;
    margin-top:10px;
    color: #757575;
}
.sercivebottom-left-list li a:hover{
    color: #ff6700;
}
.sercivebottom-left-list .title{
    margin-bottom: 20px;
    width:160px;
    font-size: 14px;
    color: #424242;
} 
.servicebottom-right{
    width:244px;
    height:112px;
    border-left:1px solid #e0e0e0;
    float: right;
    text-align: center;
}
.phone{
    font-size: 22px;
    color: #FF6700;
    margin-bottom:5px;
}
.time{
    font-size: 12px;
    color: #616161;
}
.mianfei{
    font-size: 12px;
    color: #616161;
    margin-bottom:10px;
}
.kefu{
    display: block;
    width:104px;
    height:23px;
    border:1px solid #FF6700;
    font-size:12px;
    color:#FF6700;
    margin: 0 auto;
    padding-top: 5px;
    padding-left: 14px;
    background:url(../img/kefu1.jpg);
}
.kefu:hover{
    color:#fff;
    background:#FF6700 url(../img/kefu2.png);   
} */
/*版权列表*/
.copybox .lianjie{
    padding-top: 10px;
    font-weight: bold;
}
.copybox{
    width:100%;
    height:66px;
    padding:30px 0;
   
}
.copy{
    width:1226px;
    height:57px;
    margin: 0px auto;
}

.copyleft{
    width:auto;
    height:54px;
    float:left;
}
.copyleft1{
    width:auto;
    height:18px;
}
.copyleft1 ul{
    width: 100%;
    height: 100%;
}
.copyleft1 ul li{
    line-height: 18px;
    float: left;
    font-size:12px;
}
.copyli1{
    color: #b0b0b0;
}
.copyli{
    line-height: 18px;
    float: left;
    font-size:15px;
    color:#757575;
}
.copyli:hover{
    color:#FF6700;
}
.copyleft2{
    width:auto;
    height:18px;
    
    line-height:18px;
   
    padding-top: 25px;

}
.copyleft2-1{
    font-size:14px;
    line-height:18px;
    color:#757575;
}
.copyleft2-1:hover{
    color:#FF6700;
}
.copyleft2-2{
     font-size:15px;
    line-height:18px;
    color:black;
}
.copyright{
    width:auto;
    height:33px;
    padding-top:80px;
    float:left;
}
.copyright a{
    display: inline-block;
    width: auto;
    
}
